!!!
%html
  %head
    = render '/layouts/admin_lte/header'

  %body.login-page
    .login-box
      .login-logo
        - if content_for?(:admin_title)
          = yield :admin_title
        - else
          = link_to root_path, class: 'logo' do
            %b> Origammi
            CMF/S
      .login-box-body
        = yield

    = render '/layouts/admin_lte/footer'