= render '/admin_lte/header'

%body.skin-blue
  .wrapper
    %header.main-header
      - if content_for?(:admin_title_link)
        = yield :admin_title_link
      - else
        %a.logo{:href => "#"}
          %b> Origammi
          CMF/S

      %nav.navbar.navbar-static-top{:role => "navigation"}
        %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
        .navbar-custom-menu
          - if content_for?(:admin_topbar)
            = yield :admin_topbar

    %aside.main-sidebar

      %section.sidebar
        - if content_for?(:admin_sidebar)
          = yield :admin_sidebar

    .content-wrapper
      = yield

= render '/admin_lte/footer'